<?xml version="1.0" encoding="UTF-8"?>
<!-- 配置Web应用配置文件的根元素，并指定配置文件的Schema信息 -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<!-- 指定Spring配置文件的位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name> 
		<param-value>/WEB-INF/applicationContext.xml,
			/WEB-INF/daoContext.xml</param-value>
	</context-param>

	<!-- 配置Web应用启动时候加载Spring容器 -->
	<listener> 
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class> 
	</listener>
	<!-- 验证器 -->
	<servlet>
        <servlet-name>authImg</servlet-name>
        <servlet-class>org.crazyit.auction.web.AuthImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authImg</servlet-name>
        <url-pattern>/auth.jpg</url-pattern>
    </servlet-mapping>
    
    <!-- 登录 -->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>org.crazyit.auction.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/android/login.jsp</url-pattern>
    </servlet-mapping>
    
    <!-- 查看竞争物品 -->
    <servlet>
        <servlet-name>viewBid</servlet-name>
        <servlet-class>org.crazyit.auction.servlet.ViewBidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewBid</servlet-name>
        <url-pattern>/android/viewBid.jsp</url-pattern>
    </servlet-mapping>
    
    <!-- viewKind管理物品种类 -->
    <servlet>
        <servlet-name>viewKing</servlet-name>
        <servlet-class>org.crazyit.auction.servlet.ViewBidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewKing</servlet-name>
        <url-pattern>/android/viewKind.jsp</url-pattern>
    </servlet-mapping>
    
    <!-- viewOwnerItem浏览流拍物品 -->
    <servlet>
        <servlet-name>viewOwnerItem</servlet-name>
        <servlet-class>org.crazyit.auction.servlet.ViewOwnerItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewOwnerItem</servlet-name>
        <url-pattern>/android/viewOwnerItem.jsp</url-pattern>
    </servlet-mapping>
    
    <!-- viewSucc -->
    <servlet>
        <servlet-name>viewSucc</servlet-name>
        <servlet-class>org.crazyit.auction.servlet.ViewSuccServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewSucc</servlet-name>
        <url-pattern>/android/viewSucc.jsp</url-pattern>
    </servlet-mapping>
    
    
    <!-- 添加Bid -->
    <servlet>
        <servlet-name>addBid</servlet-name>
        <servlet-class>org.crazyit.auction.servlet.AddBidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBid</servlet-name>
        <url-pattern>/android/addBid.jsp</url-pattern>
    </servlet-mapping>
    <!-- 添加Item -->
    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>org.crazyit.auction.servlet.AddItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/android/addItem.jsp</url-pattern>
    </servlet-mapping>
    <!-- 添加Kind -->
    <servlet>
        <servlet-name>addKind</servlet-name>
        <servlet-class>org.crazyit.auction.servlet.AddKindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addKind</servlet-name>
        <url-pattern>/android/addKind.jsp</url-pattern>
    </servlet-mapping>

	<!-- 定义StrutsPrepareFilter过滤器 -->
	<filter>
		<filter-name>struts-prepare</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
	</filter>
	<!-- 定义SiteMesh的核心过滤器 -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<!-- 定义StrutsExecuteFilter过滤器 -->
	<filter>
		<filter-name>struts-execute</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
	</filter>
	<!-- 定义过滤器链 -->
	<!-- 排在第一位的过滤器是：StrutsPrepareFilter过滤器 -->
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 排在第二位的过滤器是：SiteMesh的核心过滤器 -->
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 排在第三位的过滤器是：StrutsExecuteFilter过滤器 -->
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
